* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee Spice', cursive;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(43, 43, 43);
}

header {
    font-size: 2.5vw;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 3%;
}

#game {
    height: 76%;
    border: 0.4vw solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    image-rendering: pixelated;
}

.miniMap {
    border: 0.4vw solid black;
}

.mapDiv {
    text-align: center;
    width: 26vw;
    font-size: 1vw;
    left: 0;
    top: 15%;
    position: fixed;
}

#joyDiv {
    width: 15vw;
    height: 15vw;
    margin-left: 5.5vw;
    position: fixed;
}

.scoreDiv {
    position: fixed;
    right: 10%;
    top: 15%;
}

.score {
    font-size: 1.5vw;
}

.scoreItem {
    text-decoration: none;
    font-size: 1vw;
    text-align: center;
    margin-top: 5%;
}

footer {
    text-align: center;
    font-size: 1.5vw;
    width: 100%;
    bottom: 3%;
    position: fixed;
}